{% extends 'geekshop/base.html' %}
{% load static %}

{% block slider %}
<div class="hero-white">
    {% include 'geekshop/includes/inc_menu.html' %}
</div>
{% endblock slider %}

{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block js %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
    <script src="{% static 'js/basket_scripts.js' %}"></script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="basket_list">
        {% include 'basketapp/includes/inc_basket_list.html' %}
    </div>

    <button class="btn btn-round">
        <a href="{% url 'main' %}">на главную</a>
    </button>

</div>
{% endif %}

{% endblock %}